.nutrientsTable {
    border: 1px solid;
    border-collapse: collapse;
}

.nutrientsTable th{
    border: 1px solid;
    padding: 3px;
}


.nutrientsTable td{
    border: 1px solid;
    padding: 3px;
}