<table class="nutrientsTable">
  <tbody>
    <tr>
      <th>Wartości odżywcze</th>
      <th>Całość</th>
      <th *ngIf="quantity">na porcje</th>
    </tr>
    <tr>
      <td>Wartość energetyczna</td>
      <td>{{ nutrients.kcal | number : "1.0-2" }}</td>
    <td *ngIf="quantity">{{ nutrients.kcal / quantity | number : "1.0-2" }}</td>
    </tr>
    <tr>
      <td>Tłuszcz</td>
      <td>{{ nutrients.fat | number : "1.0-2" }}</td>
      <td *ngIf="quantity">{{ nutrients.fat / quantity | number : "1.0-2" }}</td>
    </tr>
    <tr>
      <td>Węglowodany</td>
      <td>{{ nutrients.carbo | number : "1.0-2" }}</td>
      <td *ngIf="quantity">{{ nutrients.carbo / quantity | number : "1.0-2" }}</td>
    </tr>
    <tr>
      <td>Błonnik</td>
      <td>{{ nutrients.fiber | number : "1.0-2" }}</td>
      <td *ngIf="quantity">{{ nutrients.fiber / quantity | number : "1.0-2" }}</td>
    </tr>
    <tr>
      <td>Białko</td>
      <td>{{ nutrients.protein | number : "1.0-2" }}</td>
      <td *ngIf="quantity">{{ nutrients.protein / quantity | number : "1.0-2" }}</td>
    </tr>
  </tbody>
</table>