.recipe { 
    padding: 20px;
}


.productSize{
    width: 15%;

    display:inline-block;
}

.productName{
    width: 60%;
    display:inline-block;
}


  ::ng-deep .editableTextInput  .mat-mdc-text-field-wrapper {
    max-height: 30px;
    display: flex !important;
    background-color: white !important;
    padding: 3px !important;
  }
  
  ::ng-deep .editableTextInput .mat-mdc-form-field-infix {
    padding: 3px !important;
  }
  .steps {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 20px;
    padding: 7px;
  }